$bg-color: #1f242d;
$second-bg-color: #323946;
$main-color: #7cf03d;
$white-color: #fff;
$disabled-color: #fff3;
$font-family: 'Poppins', serif;

$transition-bar: 0.22s;
$transition-bar-stagger: 0.03s;
$transition-content: 0.35s;
$transition-header: 0.25s;
